

<div class="container-fluid bg-2 text-center">
  <h3>Why you need a human resouces company</h3>
  <p>If HR isn’t handled well, it leads to high employee turnover, lack of staff development, and time-consuming work when it comes to payroll and benefits administration.We are experienced to handle outsourcing tasks for our clients and save them considerable money and also time.
</p>

</div>
<div class="footer-copyright">
        <div class="container">
          © 2020-2021 edwinfong, All rights reserved.
        </div>

        <footer class="container-fluid text-center">
  <a href="#index" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Back to the top</p>
</footer>